.ImgRight {
   position: relative;
   width: 450px;
   box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.ImgLeft {
   position: relative;
   margin-top: 40px;
   width: 400px;
   box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

@media (min-width: 1150px) {
   .ImgLeft {
      position: relative;
      width: 600px;
      left: 80px;
      top: 80px;
      font-size: 20px;
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
   }

   .ImgRight {
      position: relative;
      top: 80px;
      margin: auto; 
      width: 550px;
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
   }
}

@media (min-width: 1550px) {
   .ImgLeft {
      position: relative;
      width: 650px;
      left: 70px;
      top: 90px;
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
   }

   .ImgRight {
      position: relative;
      top: 80px;
      width: 600px;
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
   }
}


@media (min-width: 2500px) {
   .ImgLeft {
      position: relative;
      width: 800px;
      left: 70px;
      top: 90px;
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
   }

   .ImgRight {
      position: relative;
      top: 100px;
      right: 150px;
      width: 750px;
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
   }
}

.TextLeft {
   left: 27%;
   text-align: left;
   color: white;
   width: 800px;
   opacity: 0.5;
   top: 30%;
}

.TextRight {
   position: relative;
   margin-left: 10%;
   width: 800px;
   height: 500px;
   text-align: left;
   color: white;
   opacity: 0.5;
   top: 22%;
}

@media (min-width: 1250px) {
   .TextLeft {
       position: relative;
       width: 800px;
       top: 30%;
       left: 10%;
       text-align: left;
       font-size: 15px;
       opacity: 0.5;
   }
   
   .TextRight {
       position: relative;
       top: 30%;
       left: -2%;
       margin-right: 3%;
       text-align: left;
       font-size: 15px;
       opacity: 0.5;
   }
}

@media (min-width: 1850px) {
   .TextLeft {
       position: relative;
       width: 800px;
       top: 40%;
       left: 18%;
       text-align: left;
       font-size: 15px;
       opacity: 0.5;
   }
   
   .TextRight {
       position: relative;
       top: 25%;
       left: 0%;
       margin-right: 3%;
       text-align: left;
       font-size: 15px;
       opacity: 0.5;
   }
}

@media (min-width: 2500px) {
   .TextLeft {
      position: relative;
      width: 800px;
      top: 50%;
      left: 37%;
      text-align: left;
      font-size: 16px;
      opacity: 0.5;
  }
  
  .TextRight {
      position: relative;
      width: 800px;
      top: 30%;
      left: 0%;
      margin-right: 3%;
      text-align: left;
      font-size: 16px;
      opacity: 0.5;
  }
}