.Blog ul {
    height: 150px;
    width: 100%;
    text-align: center;
<<<<<<< HEAD
    background: linear-gradient(to bottom, rgb(36, 36, 36), rgb(29, 29, 29), rgb(29, 29, 29), rgb(22, 22, 22), rgb(22, 22, 22), rgb(17, 17, 17), rgb(17, 17, 17), rgb(8, 8, 8), rgb(5, 5, 5), rgb(5, 5, 5) , rgba(57, 57, 57, 0.821));
    margin: 0;
    padding: 0;
    width: 100vw;
  }

=======
    background: linear-gradient(to bottom, rgb(36, 36, 36), rgb(29, 29, 29), rgb(22, 22, 22), rgb(17, 17, 17),rgb(8, 8, 8), rgb(5, 5, 5), black);
}
>>>>>>> parent of b10eb2b (almost done)

.Blog li {
    display: inline-block;
    margin: 30px;
    margin-top: 42px;
  }

.Blog a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    opacity: 0.5;
    font-size: 0.9cm;
}

.Blog a:hover,
.Blog a:active,
.Blog a.active{
    color: #ffffff;
    border-bottom: 1px solid rgb(132, 132, 132);
    padding-bottom: 6px;
    width: 40%;
    opacity: 1;
}

.button{
    width: 130px;
    height: 50px;
    background-color: white;
    align-items: center;
    justify-content: center;
    background-clip: padding-box;
    background-color: #fa6400;
    border: 1px solid transparent;
    border-radius: .25rem;
    box-shadow: #00000005 0 1px 3px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.25;
    min-height: 3rem;
    padding: calc(.875rem - 1px) calc(1.5rem - 1px);
    text-decoration: none;
    transition: all 250ms;
    user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    
}

.button:hover,
.button:focus {
  background-color: #fb8332;
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  border-bottom: none;
  color: black;
}

.button:hover {
  transform: translateY(-1px);
}

.button:active {
  background-color: #c85000;
  box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
  transform: translateY(0);
}